pid /run/nginx.pid;

events {
	worker_connections 1024;
	multi_accept on;
}
http {

	log_format upstreamlog '[$time_local] $remote_addr passed to: $upstream_addr: $request Upstream Response Time: $upstream_response_time Request time: $request_time';
	
	upstream upstream_pool {
	{{ range getvs "/services/cachet/upstream/*" }}
	    server {{ . }};
	{{ end }}
	}
	server {
	    listen 80 default_server;
	    #listen [::]:80 default_server ipv6only=on;
	    
	    #access logging
	    access_log /var/log/nginx/access.log upstreamlog;
	
	    #error logging
	    error_log /var/log/nginx-error.log;
	
	    location / {
	        proxy_pass http://upstream_pool/;
	        #proxy_redirect off;
	        proxy_set_header Host $host;
	        proxy_set_header X-Real-IP $remote_addr;
	        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	    }
	}
}
